In [2]:
d = {1:2,2:4,3:6}
print(d)
print(type(d))

{1: 2, 2: 4, 3: 6}
<class 'dict'>

In [3]:
#get function return the value of that key 

print(d.get(1))

2

In [7]:
print(d.items())
print(d.keys())
print(d.values())

dict_items([(1, 2), (2, 4), (3, 6)])
dict_keys([1, 2, 3])
dict_values([2, 4, 6])

In [10]:
d1 = {'name':'tanay',2:123,'age':27}

In [12]:
#add 

d1['degree'] = 'B.Tech'
print(d1)

{'name': 'tanay', 2: 123, 'age': 27, 'degree': 'B.Tech'}

In [13]:
#modify

d1['name'] = 'Kale'
print(d1)

{'name': 'Kale', 2: 123, 'age': 27, 'degree': 'B.Tech'}

In [14]:
for pair in d1.items():
    print(pair)

('name', 'Kale')
(2, 123)
('age', 27)
('degree', 'B.Tech')

In [18]:
for k,v in d1.items():
    print(f'{k}:{v} ')

name:Kale
2:123
age:27
degree:B.Tech

In [24]:
d2 = {1:1,2:2,3:3,4:4,5:5}

for k,v in d2.items():
    if v>2:
        print(f'{k}:{v}')

3:3
4:4
5:5

In [25]:
for k,v in d2.items():
    if v>2:
        print(f'{k}:{v*2}')

3:6
4:8
5:10