In [1]:
#if in tuple there is only one element it prints data type of that particular element

t = (1)
print(type(t))

<class 'int'>

In [2]:
# but if you add ',' after a your element or string it will return class tuple

t = (1,)
print(type(t))

<class 'tuple'>

In [3]:
#it supports different data types

t1=(1,2,3,'tanay','t')
print(t1)

(1, 2, 3, 'tanay', 't')

In [6]:
#tuples are immutable but if we insert a list into tuple we can change elements in that list 

t2 = (0,1,2,[2,'tanay'])

t2[3][-1]='hello'
print(t2)

(0, 1, 2, [2, 'hello'])

In [12]:
print(t1[:-1])

print(t1[0:2])

print(t1[::-1]) #prints in reverse order

(1, 2, 3, 'tanay')
(1, 2)
('t', 'tanay', 3, 2, 1)
()

In [19]:
#here if we can't delete a particular element from tuple 
#it deletes whole tuple 

tup = (1,2,3,4,5,6)
del tup

In [15]:
t1.count(2)

1

In [16]:
t3 = (1,2,3);t4=(4,5,6)
#concate
t5 = t3+t4
print(t5)

(1, 2, 3, 4, 5, 6)

In [18]:
t5.index(4)

3